
body{
  height: 100vh;
  background: linear-gradient(85deg, #5390d9, #80ffdb);
}

#editor{
  position: absolute;
  top: 10%;
  left: 3%;
  margin: -25px 0 0 -25px;
  background: linear-gradient(85deg, #b8f2e6, #aed9e0);
  height: 38rem;
  width: 40rem;
  -webkit-box-shadow: -5px 13px 22px 5px;
  -moz-box-shadow: -5px 13px 22px 5px;
  box-shadow: -5px 13px 22px 5px;
}

form{
  margin: 20px 10px 20px 20px;
  text-align: left;
}

#text{
  height: 36em;
  width: 44em;
  overflow-y: auto;
  resize: none;
  outline: none;
  background: linear-gradient(85deg, #edf2f4 , #aed9e0);
}

#display{
  position: absolute;
  top: 10%;
  right: 1%;
  margin: -25px 0 0 -25px;
  background: linear-gradient(85deg, #b8f2e6, #aed9e0);
  overflow-y: auto;
  height: 38rem;
  width: 40rem;
  -webkit-box-shadow: -5px 13px 22px 5px;
  -moz-box-shadow: -5px 13px 22px 5px;
  box-shadow: -5px 13px 22px 5px;
}

#preview{
  margin: 20px 20px 20px 20px;
  word-wrap: break-word;
  font-size: 20px;
  font-style: "Arial";
}

pre {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    background: linear-gradient(85deg, #F1F3F5, #C5CCD3);
    font:18px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #0D1B1E;
    padding: 2px;
    font:18px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

pre code {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    padding: 2px;
    font:18px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}


blockquote {
  background: linear-gradient(85deg, #97A4AF, #758695);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

th{
  background: linear-gradient(85deg, #cb997e, #b7b7a4);
  text-align: center;
}

td{
  background: linear-gradient(85deg, #f2cc8f, #f4f1de);
  text-align: center;
}

a{
  color: #264653;
}

sup a{
  color: #7400b8;
}

dl{
  background: linear-gradient(85deg, #cad2c5, #2f3e46);
  font-weight: 500;
}

dd{
  background: linear-gradient(85deg, #83c5be, #006d77);
}

dt{
  background: linear-gradient(85deg, #cad2c5, #555b6e);
}

abbr{
  color: #5f0f40;
}

img{
  height: 15rem;
  width: 15rem;
}


.dropbtn {
  background: linear-gradient(65deg, #457b9d, #a8dadc);
  color: white;
  padding: 14px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block ;
  left: 4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  font-size: 15px;
  background: linear-gradient(85deg,#f1f1f1,#0077b6);
  padding: 4px 38px;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

.dropdown-content button:hover {background: linear-gradient(85deg,#a8dadc,#f1faee);}

.dropdown:hover .dropdown-content {display: block !important;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown2{
  position: relative;
  display: inline-block;
  left: 5rem;

}

.dropdown-content2{
  display: none;
  position: absolute;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 button {
  color: black;
  font-size: 25px;
  background: linear-gradient(85deg,#f1f1f1,#0077b6);
  height: 45px;
  width: 268px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.dropbtn2 {
  background: linear-gradient(65deg, #457b9d, #a8dadc);
  color: white;
  padding: 14px;
  font-size: 12px;
  border: none;
}

.dropdown-content2 button:hover {background: linear-gradient(85deg,#a8dadc,#f1faee);}

.dropdown2:hover .dropdown-content2 {display: block !important;}

.dropdown2:hover .dropbtn2 {background-color: #3e8e41;}
